__pycache__/
.git/
.pylint.d/
.spyproject/
.idea/
.ipynb_checkpoints/

.Rproj.user
.covid19-peru.Rproj
.RData
.Rhistory
*.pdf
covid19-peru.Rproj

Data/.ipynb_checkpoints/

RawData/TB_VACUNACION_COVID19.csv
RawData/positivos_covid.csv
RawData/fallecidos_covid.csv
RawData/old/

Others/
Data/DP3_covid19-peru_casos-positivos_+_info-fallecimiento_+_info-vacunas.csv
Data/DP5_covid19-peru_info-casos-positivos.csv
Data/DP6_covid19-peru_info-fallecidos.csv